@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    min-height: 100vh;
  }
}

@layer components {
  button {
    cursor: pointer;
  }
}

@theme {
  --animate-fade-out: fade-out 1.5s ease-out 1s;

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
